body{


}
 header{
 	font-family:'Georgia', Times, Times New Roman, serif;
 	font-color:#4aaaa5;
 }

<style>
div.profile {
    
  	color: #4aaaa5;
  	}

p{

	padding-bottom:10px;
    text-indent: 3em;
    line-height: 2.5em;
	color:black;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

	}